{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Force true viewport size, so mobile browsers won't try to be clever -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{% block title %}{% if current_site %}{{ current_site.name }}{% else %}Wiki{% endif %}{% endblock %}</title>
  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  {% block search_robots %}
  <meta name="robots" content="index,follow">
  {% endblock %}

  <link href="//fonts.googleapis.com/css?family=Cabin:regular,regularitalic,bold" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">

  {% block media %}
  <link rel="stylesheet" href="{% static "theme/css/reset.css" %}">
  <link rel="stylesheet" href="{% static "theme/css/site.css" %}">
  {% endblock %}
  {% block head_extra %}{% endblock %}
</head>

{% block body %}
<body>
  <div>
  {% block everything_wrapper %}

    <div id="header">
      <div id="login_info">{% include "site/login_info.html" %}</div>
      <div class="site_search">{% include "site/search_form.html" %}</div>
      <div id="site_title">{% include "site/site_title.html" %}</div>
      {% include "site/nav.html" %}
      <div id="header_bar">
          <div class="inner">
            <h1 id="object_title">{% block header_title %}{% endblock %}</h1>
            <div id="object_actions">{% block object_actions %}{% endblock %}</div>
            {% block header_subtitle %}{% endblock %}
          </div>
      </div>
    </div>

    {% block main_wrapper %}
    <div id="main">
      {% block main %}
        <div id="main_header">
        {% block main_header %}
          {% block messages %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif%}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          {% endblock %}
          {% block dialog %}{% endblock %}
        {% endblock %}
        </div>
      
        {% block content_wrapper %}
        <div id="content_wrapper">
          <div id="content">
          {% block content %}
            {% block content_header %}{% endblock %}
            {% block content_footer %}{% endblock %}
          {% endblock %}
          </div>
        </div>
        {% endblock %}
      {% endblock %}
    {% endblock %}
    </div>

    <div id="footer">
     {% block footer %}
     {% endblock %}
    </div>

    <div id="attributions">
     {% block attributions %}
        {{ GLOBAL_LICENSE_NOTE|safe }}
     {% endblock %}
    </div>

    <div id="powered_by">
      {% block powered_by %}
      <a href="http://localwiki.org/"><img src="{% static "theme/img/powered_by_localwiki.png" %}"/></a>
      {% endblock %}
    </div>

  {% endblock %}
  </div>
  
</body>
{% endblock %}
</html>
